{% extends "baselogin.html" %} 
{% load static %} 
{% block title%}Inicio{%endblock%} 
{% block body %}
<div class="cointenidoInicioLogin">
  <div class="bien">
    <div class="text-wrapper">¡Hola, Bienvenido!</div>
    <p class="bienvenidos-a">
      ¡Bienvenidos a nuestra Plataforma de Optimización del Consumo de<br />
      Energía Eléctrica en el Hogar!
    </p>
    <p class="bienvenidos-a2">
      En este espacio, podrás monitorear y optimizar el consumo de energía
      eléctrica en tu hogar de manera<br/>  eficiente y sostenible. Nuestra plataforma
      ofrece las siguientes funcionalidades clave :
    </p>

    <div class="opcion-login">
      <div class="ContenidoRetangle">
        <div class="rectangle">
            <p class="titulo">1. Monitoreo en Tiempo Real:</p>
            <p class="textLogin">
                Obtén datos actualizados<br />sobre el consumo de energía<br />en todas las áreas de tu
                hogar.&nbsp;&nbsp;<br />Visualiza en tiempo real cómo <br />se distribuye el gasto eléctrico.
             </p>
        </div>
        <div class="rectangle">
          <p class="titulo">2.Identificación de Áreas 
            de Alto Consumo: </p>
          <p class="textLogin">
            Descubre qué zonas de tu 
            casa están utilizando 
            más energía. Identificaremos 
            los puntos críticos para que 
            puedas tomar medidas 
            específicas.
           </p>
      </div>
      </div>
      <div class="textmidium">
        <h1>Novedades</h1>
       </div>
      <div class="ContenidoRetangle">
        <div class="rectangle">
            <p class="titulo">1.Recomendaciones
              Personalizadas: </p>
            <p class="textLogin">
              Basadas en tus hábitos y 
              patrones de consumo, 
              te proporcionaremos 
              sugerencias específicas para
               reducir el gasto energético.
              Desde ajustes en el uso de
               electrodomésticos hasta 
              consejos prácticos, te 
              ayudaremos a ahorrar.
             </p>
        </div>
        <div class="rectangle">
          <p class="titulo">2.Promoción de Prácticas 
            Sostenibles </p>
          <p class="textLogin">
            Creemos en la importancia de 
            cuidar nuestro planeta. Por 
            eso, te animamos a adoptar 
            prácticas más sostenibles y 
            conscientes. Juntos, podemos
             contribuir al bienestar del
             medio ambiente.
           </p>
      </div>
      
      </div>
    </div>
    <p class="explora-nuestra">
      ¡Explora nuestra plataforma y comienza a optimizar tu consumo de energía
      eléctrica hoy mismo!<br />
      🌿💡
    </p>
  </div>
</div>
{% endblock %}
