{% extends "baselogin.html" %}
{% load static %}

{% block body %}
{% if validlink %}
<div class="session-body-container">
  <div class="session-container">

    <h2 class="session-title">Nueva Contraseña</h2>
    <p class="session-subtitle">¡Construyamos algo genial!</p>

    <form class="session-form" method="post">
      {% csrf_token %}
      {{ form.as_p | escape }}
      <button type="submit" class="session-btn-submit">Cambiar</button>
    </form>
  </div>
</div>
{% else %}
<p>El enlace para restablecer la contraseña no es válido, posiblemente porque ya se había utilizado. Por favor solicite una nueva contraseña</p>
<p> Puedes recuperar tu <a href="{% url 'password_reset'%}">Contraseña</a> o <a href="{% url 'login'%}">Iniciar Sesion</a></p>
{% endif %}
{% endblock %}
