{% extends "baselogin.html" %} 
{% load static %} 
{% block body %}
<div class="session-body-container">
  <div class="session-container">
    <h2 class="session-title">Recupera tu contraseña</h2>
    <p class="session-subtitle">¡Construyamos algo genial!</p>

    <form class="session-form" method="post">
      {% csrf_token %}
      <div class="session-form-group">
         <label for="correo" class="session-form-label">Ingresa tu correo</label><br />
         {{ form.email | escape}}
      </div>

      <button type="submit" class="session-btn-submit">Registrar</button>
    </form>
    <div class="signup-text-container">
      <!-- Contenedor agregado -->
      <p class="signup-text">
        ¿Tienes una cuenta?
        <a href="{% url 'login' %}" class="signup-link">Inicia Sesion</a>
      </p>
    </div>
  </div>
</div>

<!-- El resto del contenido de tu sitio web va aquí -->
{% endblock %}
